<div class="sidebar">

    <div class="logo">
        <img src="../assets/logo.png" alt="ResQMate Logo">
        <h2>ResQMate</h2>
    </div>

    <ul class="menu">

        <li>
            <a href="dashboard.html">
                Dashboard
            </a>
        </li>

        <li>
            <a href="requests.html">
                My Requests
            </a>
        </li>

        <li>
            <a href="request.html">
                Request Assistance
            </a>
        </li>

        <li>
            <a href="notification.html">
                Notifications
            </a>
        </li>

        <li>
            <a href="profile.html">
                Profile
            </a>
        </li>

    </ul>

    <div class="logout">
        <button>Logout</button>
    </div>

</div>